
body {
  background-color: lightslategray;
  font-family: sans-serif;
}

h1 {
  margin-bottom: 0;
  text-transform: capitalize;
}

.container {
  width: 800px;
  margin: 0 auto;
  display: grid;
  gap: 10px;
  grid-template-columns: 80px 100px 1fr;
  grid-template-rows: 30px 50px 32px;
  align-items: center;
  justify-items: start;
}

form {
  grid-area: 1 / 1 / 2 / 4;
}

.invalid {
  color: red;
  display: block;
  font-size: 0.8em;
}

.icon {
  max-height: 60px;
  grid-area: 2 / 1 / 4 / 2;
  justify-self: center;
}

.main {
  align-self: self-end;
  grid-column: 3;
  grid-row: 2;
}

.temperature {
  font-size: 2em;
  align-self: self-end;
}

.conditions {
  grid-column: 2;
  align-self: self-start;
}

.forecast {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(7, 1fr);
  padding-top: 50px;
}

.day {
  background-color: #fff;
  position: relative;
  padding: 20px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.day time {
  background-color: #fff;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: -16px;
  padding: 5px 10px;
  border-radius: 15px;
}

.day h5 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 8px;
}

.day img {
  max-height: 60px;
}

.day p {
  font-size: 0.72em;
}

.day > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.day .temp {
  font-size: 1.8em;
  grid-area: 1 / 1 / 3 / 2;
}

.tempmax {
  color: brown;
}

.tempmin {
  color: blue;
}